/* Estilos para el contenedor del calendario anual */
.jsCalendar-yearmonth {
    width: 100%;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Encabezado del calendario con el título del año y los botones de navegación */
.jsCalendar-yearmonth .year-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    gap: 10px;
    min-height: 45px;
}

.jsCalendar-yearmonth .year-title {
    font-size: 24px;
    text-align: left;
    flex-grow: 1;
    font-weight: bold;
}

/* Estilos para los controles de navegación de año */
.jsCalendar-yearmonth .year-nav {
    cursor: pointer;
    pointer-events: all;
    font-weight: bold;
    width: 32px;
    color: inherit;
}

.jsCalendar-yearmonth .year-nav[disabled] {
    cursor: unset;
    pointer-events: none;
    color: #CACACA; /* .jsCalendar tbody td.jsCalendar-unselectable */
}

/* Flechas nav */
.jsCalendar-yearmonth .year-nav.textbutton {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
}
/* Flecha hacia la izquierda */
.jsCalendar-yearmonth .textbutton.prev::before {
    /* content: '◀'; Texto alternativo para la flecha izquierda */
    /* font-size: 24px; Ajusta el tamaño de la flecha */
    /* content: "⟨"; */
    content: "‹";
}

/* Flecha hacia la derecha */
.jsCalendar-yearmonth .textbutton.next::before {
    /*content: '▶'; Texto alternativo para la flecha derecha */
    /* font-size: 24px; Ajusta el tamaño de la flecha */
    /* content: "⟩"; */
    content: "›";
}

.jsCalendar-yearmonth .year-nav.iconbutton.material-icons {
    font-size: 36px;
    font-weight: normal;
}

/* Font-Awesome version > 4 */
.jsCalendar-yearmonth .year-nav.iconbutton.fas {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

/* Font-Awesome version < 5 */
.jsCalendar-yearmonth .year-nav.iconbutton.fa {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

/* Layout no Responsive - Monts per row */
.jsCalendar-yearmonth .year-row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    --months-per-row: 4; /* Valor por defecto */
    --min-width-month: 298; /* Default theme */
}

.jsCalendar-yearmonth .month-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% / var(--months-per-row) - 10px);
    margin-right: 10px;
    box-sizing: border-box;
    min-width: calc(var(--min-width-month) * 1px + 10px);
}

.jsCalendar-yearmonth .year-row-container .month-container:last-child {
    margin-right: 0;
}


/* Estilos para cada instancia del calendario */
.jsCalendar-yearmonth .jsCalendar {
    display: inline-block;
}

.jsCalendar-yearmonth .jsCalendar tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.material-theme tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.classic-theme tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.clean-theme tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.black-theme tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.grey-theme tbody td.jsCalendar-weekend-days, 
.jsCalendar-yearmonth .jsCalendar.white-theme tbody td.jsCalendar-weekend-days {
    font-weight: bold;
}
